@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{color: black; text-decoration: none;}
img{vertical-align: top; border: none;}

body{
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
}
#header{
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/* 최상단 이벤트 배너 */

#header .txt_banner {
    width: 100%;
    height: 30px;
    background-color: rgb(15, 41, 15);
}
#header .txt_banner .wrap_txt_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#header .txt_banner .wrap_txt_banner .event_txt{
    color: rgb(209, 209, 209);
    font-size: 11px;
    line-height: 30px;
    font-weight: 800;
}
#header .txt_banner .wrap_txt_banner .close_button{
    color: rgb(209, 209, 209);
    font-size: 10px;
    line-height: 30px;
}


/* lnb 영역-------------- */

#header .lnb_wrap{
    width: 320px;
    height: 100%;
    position: fixed;
    /* z-index: 5; */
    top: 30px; left: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    background-color: rgba(234, 236, 234, 0.932);
    backdrop-filter: blur(5px);
    padding: 50px 40px;
    overflow: hidden;
    /* display: none; */
}
#header .lnb_wrap.on{
    transform: translateX(0);
}

#header .lnb_wrap .lnb > li > a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 500;
    display: block;
    color: rgb(25, 36, 25);
}
#header .lnb_wrap .lnb .lnb_sub{
    margin: 10px 0 40px;
    display: none;
}
#header .lnb_wrap .lnb .lnb_sub li a{
    width: 100%;
    /* border: 1px solid red; */
    color: rgb(29, 59, 29);
    font-weight: 500;
    line-height: 1.9;
    position: relative;
}
#header .lnb_wrap .lnb .lnb_sub li a::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(29, 59, 29);
    position: absolute;
    bottom: -2px; left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s;
}
#header .lnb_wrap .lnb .lnb_sub li a:hover::after{
    transform: scaleX(1);
}


#header .lnb_wrap .lnb_side {
    margin-top: 10px;
}
#header .lnb_wrap .lnb_side li a{
    color: rgb(29, 59, 29);
    font-weight: 500;
    line-height: 1.8;
}
#header .lnb_wrap .lnb_side li.lang a{
    font-size: 14px;
}
#header .lnb_wrap .lnb_side{
    margin-top: 40px;
}
#header .lnb_wrap .lnb_side li.lang{
    margin-top: 20px;
}





/* 메인 헤더 */

#header .hd_inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 30px;
    position: relative;
    z-index: 2;
}
#header .hd_inner .gnb_button{
    width: 300px;
}
#header .hd_inner .gnb_button a{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    /* background-color: red; */
}
#header .hd_inner .gnb_button a span{
    display: block;
    height: 1px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    transition: all 0.5s;
}
#header .hd_inner .gnb_button a span.one{
    top: 0px;
}
#header .hd_inner .gnb_button a span.two{
    top: 9px;
}
#header .hd_inner .gnb_button a span.three{
    top: 19px;
}

#header .hd_inner .gnb_button.on span.one{  /*햄버거 버튼 >> 엑스버튼으로 바뀌게*/
    transform: rotate(40deg);
    transform-origin: left;
    background-color: rgb(20, 53, 20);
}
#header .hd_inner .gnb_button.on span.two{
    display: none;
}
#header .hd_inner .gnb_button.on span.three{
    transform: rotate(-40deg);
    transform-origin: left;
    background-color: rgb(20, 53, 20);
}

#header .hd_inner .logo img{
    width: 200px;
}
#header .hd_inner .side_menu{
    display: flex;
    justify-content:space-between;
    width: 310px;
}
#header .hd_inner .side_menu li{
    margin-left: 10px;
    cursor: pointer;
}
#header .hd_inner .side_menu .search{
    margin-right: 40px;
}
#header .hd_inner .side_menu .search a{
    display: flex;
}
#header .hd_inner .side_menu .search div{
    width: 140px;
    height: 30px;
    border-bottom: 1px solid white;
}








/* section 영역 -----------------------------------------------------*/

/* main banner 영역 */

#section .main_banner{
    width: 100%;
    height: 923px;
    position: relative;
    top: 0px; left: 0;
    overflow: hidden;
}
#section .main_banner .main_ban_img_area{
    width: 500%;
    height: 923px;
    display: flex;
    margin-left: -100%;
}

/* 메인배너 스와이퍼-=--------- */
.mainSwiper {
    width: 100%;
    height: 100%;
}

.mainSwiper::part(bullet) {
    box-sizing: border-box;
    width: 30px;
    height: 3px;
    margin: 0 1px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.507);
}

/* ▽ 활성된 알 */
.mainSwiper::part(bullet-active) {
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 60px;
    border-radius: 0;
    transition: all 0.5s;
}

.slide {
    width: 20%;
    height: 923px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ---------------------------------------- */

#section .main_banner .mainSwiper .bg1{
    background-image: url(images/main_01.jpg);
}
#section .main_banner .mainSwiper .bg2{
    background-image: url(images/main_02.jpg);
}
#section .main_banner .mainSwiper .bg3{
    background-image: url(images/main_03.jpg);
}
#section .main_banner .mainSwiper .bg4{
    background-image: url(images/main_04.jpg);
}
#section .main_banner .mainSwiper .bg5{
    background-image: url(images/main_05.jpg);
}
#section .main_banner .mainSwiper .bg6{
    background-image: url(images/main_06.jpg);
}
#section .main_banner .mainSwiper .bg7{
    background-image: url(images/main_07.jpg);
}

#section .main_banner .mainSwiper .slide a{
    display: block;
    width: 100%;
    height: 100%;
}
#section .main_banner .mainSwiper .slide .ban_txt{
    position: absolute;
    top: 40%;
    left: 80px;
}
#section .main_banner .mainSwiper .slide .ban_txt .m_banner_title{
    font-size: 4.8em;
    line-height: 1.1;
}
#section .main_banner .mainSwiper .slide .ban_txt{
    color: white;
}
#section .main_banner .mainSwiper .slide .ban_txt h2{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 10px;
}
#section .main_banner .mainSwiper .slide .ban_txt div{
    margin-top: 40px;
}
#section .main_banner .mainSwiper .slide .ban_txt em{
    position: relative;
}
#section .main_banner .mainSwiper .slide .ban_txt em::after{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 25px; left: 0px;
    transition:  transform 0.5s;
    transform-origin: 0 0;
    transform: scaleX(1);
}
#section .main_banner .mainSwiper .slide:hover .ban_txt em::after{
    transform: scaleX(0);
    transform-origin: 100% 0;
}




#section .main_banner .main_ban_btn{
    width: 192px;
    position: absolute;
    bottom: 50px; left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#section .main_banner .main_ban_btn li{
    box-sizing: border-box;
    width: 30px;
    height: 3px;
    margin: 0 1px;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.507);
}
#section .main_banner .main_ban_btn li.on{
    background-color: rgb(255, 255, 255);
    width: 60px;
}








/* most popular */

#section .items{
    width: 100%;
    background-color: rgb(245, 239, 230);
    padding: 100px 0 150px;
}
#section .most_popular{
    padding-top: 150px;
}
#section .most_head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px 30px;
}
#section .items .title .section_title{
    font-size: 36px;
    font-weight: 500;
}
#section .most_head .view_all{
    font-weight: 600;
}





/* -----------------------상품섹션 상단 view all 부분 --------------- */
#section > div .view_all{
    position: relative;    /* view_all after때문에 만들어놓은 position */
}
#section > div .view_all::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 25px; left: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleX(1);
}
#section > div .view_all:hover::after{
    transform: scaleX(0);
    transform-origin: 100% 0;
}









/* 제품 리스트 스와이퍼 공통 적용---------------------------------- */


.itemSwiper {
    position: relative !important;
    overflow: visible !important;
    /* border: 1px solid red; */

}

.itemSwiper::part(pagination) {
    position: absolute !important;
    top: auto !important;
    bottom:10px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 50% !important;
    box-sizing: border-box;
    height: 3px !important;
    background: rgb(187, 187, 187) !important; 
    /* 배경은 딱 하나만 써! */
    z-index: 999;
}
.swiper-pagination{
    margin-top: 50px;
    /* border: 1px solid blue; */
}


.item-slide {
    flex-shrink: 0;
    box-sizing: border-box;
}
.item-slide .img_area{
    position: relative;
}
.item-slide .img_area img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.item-slide .img_area img:first-child{
    position: absolute; top: 0; left: 0;
}
.item-slide .img_area img:last-child{
    opacity: 0;
}
.item-slide:hover .img_area img:first-child{
    opacity: 0;
}
.item-slide:hover .img_area img:last-child{
    opacity: 1;
}
.item-slide .txt_area{
    padding-top: 30px;
    padding-left: 10px;
    /* border: 1px solid blue; */
    margin-bottom: 100px;
}
.item-slide .txt_area h2{
    font-size: 15px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.item-slide .txt_area .price{
    display: flex;
    align-items: center;
}
.item-slide .txt_area p{
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 5px;
    color: rgb(43, 43, 43);
}

.item-slide .txt_area .before_p{
    color: rgb(151, 151, 151);
    text-decoration: line-through;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 10px;
    padding-top: 5px;
}
.item-slide .txt_area .discount{
    color: rgb(71, 124, 99);
    margin-left: 10px;
}
.item-slide:first-child .txt_area{
    /* margin-left: 25px; */
}


















/* 영상 재생 영역 */

#section .video_area{
    background-color: rgb(245, 239, 230);
    padding-bottom: 50px;
}
#section .video_area video{
    width: 100%;

}


/* new arrivals 영역 ---------------------------*/


#section .new_arrivals{
    width: 100%;
    background-color: rgb(245, 239, 230);
    padding: 100px 0 50px;
}
#section .new_head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px 30px;
}
#section .new_head .section_title{
    font-size: 2.2em;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
#section .new_head .view_all{
    font-weight: 600;
}
#section .new_arrivals .new_product{
    width: 100%;
    display: flex;
    overflow: hidden;
}





/* spring outlet 영역 */


#section .outlet{
    width: 100%;
    background-color: rgb(245, 239, 230);
    padding: 70px 0 150px;
}
#section .outlet_head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px 30px;
}
#section .outlet_head .section_title{
    font-size: 2.2em;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
#section .outlet_head .view_all{
    font-weight: 600;
}



/* #section .outlet .outlet_product{
    width: 100%;
    display: flex;
    overflow: hidden;
} */
/* #section .outlet .outlet_product li{
    width: calc(100% / 4 - 15px); 
    flex-shrink: 0;
    margin-right: 10px;
} */


/* 아울렛 아이템 영역 호버시 확대 효과 */
/* #section .outlet .itemSwiper .item-slide .img_area{
    background-color: black;
    position: relative;
    overflow: hidden;
}
#section .outlet .itemSwiper .item-slide .img_area img{
    width: 100%;
}
#section .outlet .itemSwiper .item-slide:hover .img_area img{
    transform: scale(1.1);
}
#section .outlet .itemSwiper .item-slide:hover .img_area a .over_txt{
    opacity: 1;
} */





/* our 영역 */

#section .our{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#section .our > li{
    width: 955px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 170px 0 0 50px ;
}
#section .our > li h2{
    font-size: 46px;
}
#section .our > li p{
    letter-spacing: -1px;
    margin-top: 20px;
    line-height: 1.5;
}
#section .our > li em{
    margin-top: 50px;
    display: inline-block;
    letter-spacing: -0.5px;
    position: relative;
}
#section .our > li em::after{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 25px; left: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleX(1);
}
#section .our > li:hover em::after{
    transform: scaleX(0);
    transform-origin: 100% 0;
}
#section .our .story{
    background-image: url(images/Our_story2.jpg);
}
#section .our .origin{
    background-image: url(images/Our_origin.jpg);

}



/* refills 영역 */

#section .refills{
    width: 100%;
    height: 400px;
    background-image: url(images/Refills_PC_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-position: 0 -130px; */
    border-bottom: 0.8px solid rgb(187, 187, 187);
    text-align: center;
    padding-top: 130px;
}

#section .refills .sm_txt{
    font-size: 20px;
    color: rgb(63, 63, 63);
}
#section .refills h2{
    font-size: 35px;
    font-style: italic;
    color: rgb(49, 49, 49);
    margin: 5px 0 30px;
}
#section .refills h2 span{
    color: rgb(23, 109, 80);
}
#section .refills .button{
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(40, 90, 66);
    border: 1px solid rgb(40, 90, 66);
    line-height: 48px;
    color: white;
    transition: all 0.3s;
}
#section .refills .button:hover{
    background-color: rgba(71, 124, 99, 0); 
    color: rgb(40, 90, 66);
    border: 1px solid rgb(40, 90, 66);
}


/* life 영역 */
#section .life{
    width: 100%;
    background-color: rgb(245, 239, 230);
    padding: 100px 0 120px;
}
#section .life_head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px 30px;
}
#section .life_head .section_title{
    font-size: 2.2em;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
#section .life_head .view_all{
    font-weight: 600;
}

#section .life .life_list{
    width: 100%;
    display: flex;
    overflow: hidden;
}
#section .life .life_list li{
    width: calc(100% / 4 - 10px); 
    flex-shrink: 0;
    margin-right: 10px;
    /* width: 460px;
    height: 450px;
    margin-right: 10px; */
}
#section .life .life_list li .life_img_area{
    background-color: rgb(26, 44, 39);
    transition: transform 0.3s;
}
#section .life .life_list li .life_img_area img{
    width: 100%;
    opacity: 1;
    transition: all 0.3s;
}
#section .life .life_list li:hover .life_img_area{
    transform: translateY(5px);
}
#section .life .life_list li:hover .life_img_area img{
    opacity: 0.4;
}

#section .life .life_list .life_txt_area{
    margin-top: 30px;
    margin-left: 10px;
}
#section .life .life_list .life_txt_area h2{
    font-size: 20px;
    font-weight: 500;
}
#section .life .life_list .life_txt_area p{
    line-height: 1.4;
    margin-top: 20px;
}
#section .life .life_list li:first-child .life_txt_area{
    /* padding-left: 25px; */
}



/* aromatica sinsa 영역 */

#section .sinsa{
    width: 100%;
    height: auto;
    background-color: red;
    background-image: url(images/Aromatica_sinsa_PC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#section .sinsa .sinsa_txt{
    color: white;
    padding: 350px 0 100px 50px;
}
#section .sinsa .sinsa_txt h2{
    font-size: 54px;
}
#section .sinsa .sinsa_txt p{
    letter-spacing: -1px;
    margin-top: 20px;
    line-height: 1.5;
}
#section .sinsa .sinsa_txt > em{
    margin-top: 30px;
    display: inline-block;
    letter-spacing: -0.5px;
    position: relative;
}
#section .sinsa .sinsa_txt em::after{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 25px; left: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleX(1);
}
#section .sinsa:hover .sinsa_txt em::after{
    transform: scaleX(0);
    transform-origin: 100% 0;
}


/* 카카오상담 버튼 */
#section .kakao{
    position: fixed;
    bottom: 30px;
    right: 20px;
    animation: talk 1.8s infinite;
    z-index: 999;
    cursor: pointer;
}




/* footer 영역 */

#footer{
    width: 100%;
    background-color: rgb(245, 239, 230);
    padding: 40px 0;
}
#footer .wrap_foot{
    width: 100%;
    padding: 0 50px;
}
#footer .wrap_foot .foot_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#footer .wrap_foot .foot_top .customer_center{
    color: rgb(14, 73, 14);
}
#footer .wrap_foot .foot_top .customer_center h3{
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
#footer .wrap_foot .foot_top .customer_center p.tel{
    font-family: 'merriweather', sans-serif;
    font-size: 34px;
    font-weight: 300;
    margin: 5px 0;
}
#footer .wrap_foot .foot_top .customer_center p.c_time{
    font-size: 13.5px;
}
#footer .wrap_foot .foot_top .foot_menu{
    display: flex;
}
#footer .wrap_foot .foot_top .foot_menu > li{
    margin-left: 90px;
}
#footer .wrap_foot .foot_top .foot_menu > li h3{
    font-size: 16.5px;
    color: rgb(12, 68, 33);
    margin-bottom: 10px;
    cursor: pointer;
}
#footer .wrap_foot .foot_top .foot_menu > li li{
    margin-top: 3px;
}
#footer .wrap_foot .foot_top .foot_menu > li a{
    font-size: 13px;
    font-weight: 500;
    color: rgb(64, 97, 76);
}

#footer .wrap_foot .foot_top .foot_menu > li a:hover{
    text-decoration: underline;
}

#footer .wrap_foot .foot_bt .foot_txt{
    border-top: 0.8px solid rgb(216, 216, 216);
    color: rgb(12, 68, 33);
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    font-weight: 400;
}
#footer .wrap_foot .foot_bt .foot_txt p:first-child{
    font-weight: 500;
}



/* 900px ~ 1159px ------------------------------ */

@media all and (min-width:900px) and (max-width:1159px){


    /* -----------------상품섹션 일괄적용----------------------- */
    #section .most_popular,
    #section .outlet{
        padding: 100px 0 100px;
    }
    #section .new_arrivals{
        padding: 100px 0 0 0;
    }
    #section .items .title{
        padding: 0 15px 0;
    }
    #section .items .title .section_title{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    



    /* life 영역------------------------------------- */
    #section .life{
        padding: 100px 0 100px;
    }
    #section .life_head{
        padding: 0 15px 10px;
    }
    #section .life_head .section_title{
        font-size: 1.4em;
    }
    #section .life .life_list li{
        width: calc(100% / 2 ); 
        margin-right: 5px;
    }
    


    /* footer 영역------------------ */
    #footer{
        padding-bottom: 20px;
    }
    #footer .wrap_foot{
        padding: 0 30px;
    }
    #footer .wrap_foot .foot_top{
        display: block;
        margin-bottom: 70px;
    }
    #footer .wrap_foot .foot_top .foot_menu{
        display: block;
        padding-top: 40px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li{
        margin-top: 20px;
        margin-left: 0px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li h3{
        font-size: 18px;
        position: relative;
    }
    #footer .wrap_foot .foot_top .foot_menu > li h3::after{
        content: "\002B";
        position: absolute;
        right: 0px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li > ul{
        display: none;
    }
}




/* 768px ~ 899px ------------------------------ */

@media all and (min-width:768px) and (max-width:899px){
    #header .hd_inner{
        padding:  0 10px;
    }
    #header .hd_inner .logo img{
        width: 180px;
    }
    #header .hd_inner .side_menu {
        justify-content:flex-end;
    }
    #header .hd_inner .side_menu .search{
        display: none;
    }


    #section .main_banner{
        height: 750px;
    }
    #section .main_banner .mainSwiper .bg1{
        background-image: url(images/main_01_m.jpg);
    }
    #section .main_banner .mainSwiper .bg2{
        background-image: url(images/main_02_m.jpg);
    }
    #section .main_banner .mainSwiper .bg3{
        background-image: url(images/main_03_m.jpg);
    }
    #section .main_banner .mainSwiper .bg4{
        background-image: url(images/main_04_m.jpg);
    }
    #section .main_banner .mainSwiper .bg5{
        background-image: url(images/main_05_m.jpg);
    }
    #section .main_banner .mainSwiper .bg6{
        background-image: url(images/main_06_m.jpg);
    }
    #section .main_banner .mainSwiper .bg7{
        background-image: url(images/main_07_m.jpg);
    }

    #section .main_banner .mainSwiper .slide .ban_txt{
        top: 50%;
        left: 20px;
    }
    #section .main_banner .mainSwiper .slide .ban_txt .m_banner_title{
        font-size: 36px;
    }
    #section .main_banner .mainSwiper .slide .ban_txt h2{
        font-size: 14px;
    }
    #section .main_banner .mainSwiper .slide .ban_txt em{
        font-size: 14px;
    }

    #section .main_banner .mainSwiper .slide .ban_txt em::after{
        width: 60px;
        top: 22px;
    }



      /* -----------------상품섹션 일괄적용----------------------- */
    #section .items{
        padding: 50px 0 100px;
    }
    #section .new_arrivals{
        padding: 50px 0 50px 0;
    }
    #section .items .title{
        padding: 0 15px 10px;
    }
    #section .items .title .section_title{
        font-size: 1.4em;
    }

    /* -----------------------상품섹션 상단 view all 부분 --------------- */
    #section > div .view_all{
        font-size: 0.9em;
    }
    #section > div .view_all::after{
        top: 22px; left: 0;
    }
    /* -----------------------상품섹션 상단 view all 부분 --------------- */


    

    .itemSwiper::part(pagination) {
        bottom:50px;
    }
        
    #section .items .itemSwiper .item-slide .txt_area{
        /* border: 1px solid red; */
    }
    #section .items .itemSwiper .item-slide .txt_area h2{
        font-size: 14px;
    }
    #section .items .itemSwiper .item-slide .txt_area .price{
        font-size: 16px;
        margin-top: 10px;
        line-height: 16px;
        flex-wrap: wrap;
    }
    #section .items .itemSwiper .item-slide .txt_area .price .before_p{
        font-size: 14px;
        padding-top: 0px;
        padding-right: 120px;
    }
    #section .items .itemSwiper .item-slide .txt_area .price .sell_p {
        font-size: 20px;
    }
    #section .items .itemSwiper .item-slide .txt_area .price .discount{
        font-size: 18px;
    }
    .img_area img {
        width: 100%;
        height: auto;
    }

    
    /* our 영역--------------------------- */
    
    #section .our{
        display: block;
    }
    #section .our > li{
        width: 100%;
        height: 400px;
        padding: 100px 0 0 50px ;
    }
    #section .our > li h2{
    font-size: 36px;
    }
    #section .our > li p{
    font-size: 14px;
    }




    /* refill 영역 */

    #section .refills .sm_txt{
    font-size: 18px;
    }
    #section .refills h2{
    font-size: 30px;
    }





    /* life 영역----------------------------- */
    
    #section .life{
        padding: 100px 0 100px;
    }
    
    #section .life_head{
        padding: 0 15px 10px;
    }
    #section .life_head .section_title{
        font-size: 1.4em;
    }
    #section .life .life_list li{
        width: calc(100% / 2 ); 
        margin-right: 5px;
    }
    
    #section .life .life_list li:first-child .life_txt_area{
        padding-left: 0px;
    }
    #section .life .life_list .life_txt_area{
        margin-top: 14px;
    }

    #section .life .life_list .life_txt_area h2{
    font-size: 16px;
    }
    #section .life .life_list .life_txt_area p{
        font-size: 14px;
        margin-top: 10px;
    }


    /* sinsa-------------- */
    #section .sinsa{
        background-image: url(images/Aromatica_sinsa_MO.jpg);
    }
    #section .sinsa .sinsa_txt{
        padding: 350px 0 100px 10px;
    }
    #section .sinsa .sinsa_txt h2{
        font-size: 36px;
    }
    #section .sinsa .sinsa_txt p{
        margin-top: 16px;
        font-size: 14px;
    }
    #section .sinsa .sinsa_txt > em{
        font-size: 14px;
    }
    #section .sinsa .sinsa_txt em::after{
        width: 60px;
        top: 22px;
    }





    /* 카카오상담 버튼 */
    #section .kakao{
        display: none;
    }




    /* footer ------------------ */
    #footer{
        padding-bottom: 10px;
    }
    #footer .wrap_foot{
        padding: 0 20px;
    }
    #footer .wrap_foot .foot_top{
        display: block;
        margin-bottom: 60px;
    }
    #footer .wrap_foot .foot_top .foot_menu{
        display: block;
        padding-top: 30px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li{
        margin-top: 20px;
        margin-left: 0px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li h3{
        font-size: 18px;
        position: relative;
    }
    #footer .wrap_foot .foot_top .foot_menu > li h3::after{
        content: "\002B";
        position: absolute;
        right: 0px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li > ul{
        display: none;
    }
}







/*  ~ 767px ------------------------------ */

@media all  and (max-width:767px){
    #header .hd_inner{
        padding:  0 10px;
    }
    #header .hd_inner .logo img{
        width: 180px;
    }
    #header .hd_inner .side_menu {
        justify-content:flex-end;
    }
    #header .hd_inner .side_menu .search{
        display: none;
    }

    /* 메인 배너 영역------- */
    #section .main_banner{
        height: 750px;
    }
    #section .main_banner .mainSwiper .bg1{
        background-image: url(images/main_01_m.jpg);
    }
    #section .main_banner .mainSwiper .bg2{
        background-image: url(images/main_02_m.jpg);
    }
    #section .main_banner .mainSwiper .bg3{
        background-image: url(images/main_03_m.jpg);
    }
    #section .main_banner .mainSwiper .bg4{
        background-image: url(images/main_04_m.jpg);
    }
    #section .main_banner .mainSwiper .bg5{
        background-image: url(images/main_05_m.jpg);
    }
    #section .main_banner .mainSwiper .bg6{
        background-image: url(images/main_06_m.jpg);
    }
    #section .main_banner .mainSwiper .bg7{
        background-image: url(images/main_07_m.jpg);
    }

    #section .main_banner .mainSwiper .slide .ban_txt{
        top: 50%;
        left: 20px;
    }
    #section .main_banner .mainSwiper .slide .ban_txt .m_banner_title{
        font-size: 36px;
    }
    #section .main_banner .mainSwiper .slide .ban_txt h2{
        font-size: 14px;
    }
    #section .main_banner .mainSwiper .slide .ban_txt em{
        font-size: 14px;
    }

    #section .main_banner .mainSwiper .slide .ban_txt em::after{
        width: 60px;
        top: 22px;
    }
    
/* 여기까지함-------------------------------------------------------------------------------------- */

    /* our 영역--------------------------- */
    
    #section .our{
        display: block;
    }
    #section .our > li{
        width: 100%;
        height: 400px;
        padding: 100px 0 0 50px ;
    }
    #section .our > li h2{
    font-size: 36px;
    }
    #section .our > li p{
    font-size: 14px;
    }




    /* refill 영역 */

    #section .refills .sm_txt{
    font-size: 18px;
    }
    #section .refills h2{
    font-size: 30px;
    }





    /* life 영역----------------------------- */
    
    #section .life{
        padding: 100px 0 100px;
    }
    #section .life .life_list{
    width: 100%;
    display: block;
    overflow: hidden;
}
    #section .life_head{
        padding: 0 15px 10px;
    }
    #section .life_head .section_title{
        font-size: 1.4em;
    }
    
    #section .life .life_list li{
        width: 100%; 
        flex-shrink: 0;
        margin-top: 100px;
    }
    
    
    #section .life .life_list li:first-child .life_txt_area{
        padding-left: 0px;
    }
    #section .life .life_list .life_txt_area{
        margin-top: 14px;
    }

    #section .life .life_list .life_txt_area h2{
    font-size: 16px;
    }
#se
    #section .life .life_list .life_txt_area p{
        font-size: 14px;
        margin-top: 10px;
    }


    /* sinsa-------------- */
    #section .sinsa{
    background-image: url(images/Aromatica_sinsa_MO.jpg);
    }
    #section .sinsa .sinsa_txt{
        padding: 350px 0 100px 10px;
    }
    #section .sinsa .sinsa_txt h2{
        font-size: 2.6em;
    }
    #section .sinsa .sinsa_txt p{
        margin-top: 16px;
    }


    /* 카카오상담 버튼 */
    #section .kakao{
        display: none;
    }




    /* footer ------------------ */
    #footer{
        padding-bottom: 10px;
    }
    #footer .wrap_foot{
        padding: 0 20px;
    }
    #footer .wrap_foot .foot_top{
        display: block;
        margin-bottom: 60px;
    }
    #footer .wrap_foot .foot_top .foot_menu{
        display: block;
        padding-top: 30px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li{
        margin-top: 20px;
        margin-left: 0px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li h3{
        font-size: 18px;
        position: relative;
    }
    #footer .wrap_foot .foot_top .foot_menu > li h3::after{
        content: "\002B";
        position: absolute;
        right: 0px;
    }
    #footer .wrap_foot .foot_top .foot_menu > li > ul{
        display: none;
    }
}








@keyframes talk{
    0%{
        bottom: 30px;
    }
    50%{
        bottom: 40px;
    }
    100%{
        bottom: 30px;
    }
}